.container {
  width: 100%;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
}
.item {
  cursor: pointer;
}
.item:hover {
  background-color: blueviolet;
}
.input {
  display: block;
  width: 100%;
}
.title {
  margin: 10px 0;
}
.address {
  margin: 10px 0;
  font-weight: 700;
}
.wrapper {
  margin-top: 10px;
}
